{
    "smtp": {
        "host": "",
        "port": "",
        "username": "",
        "password": ""
    },
    "template": {
        "associationName": "",
        "siteUrl": "",
        "emailLogoUrl": "",
        "nif": "",
        "numReg": "",
        "address": "",
        "postalCode": "",
        "city": "",
        "province":"",
        "email": ""
    },
    "graphql": {
        "url": "",
        "adminSecret": ""
    },
  "otherUrls": ""
}
