{
    "smtp": {
        "host": "",
        "port": "",
        "username": "",
        "password": ""
    },
    "template": {
        "schoolName": "",
        "siteUrl": "",
        "emailLogoUrl": "",
        "nif": "",
        "numReg": "",
        "address": "",
        "email": ""
    },
    "graphql": {
        "url": "",
        "adminSecret": ""
    }
}
}
