{{> partials/header }}

<h2>Missatge enviat des del formulari de contacte</h2>

<p>
    Nom: {{name}}
    <br/>
    Email: {{email}}
    <br/>
    Assumpte: {{subject}}
</p>
<p>
  Missatge: {{message}}
</p>

{{> partials/footer }}