// app global css in SCSS form

.q-page {
    a, a:visited{
        text-decoration: none;
        color: $primary;
    }
    
    a:hover {
        color: $accent;
    }

    a.card {
        text-decoration: none;
        color: inherit;
    }

}

img {
    max-width: 100%;
}

h1 {
    font-size: 2.125rem;
    line-height: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.825rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.1rem;
}

.title {
    font-weight: 700;
}

.max-600 {
    max-width: 600px;
    margin: auto auto;
}

.max-900 {
    max-width: 900px;
    margin: auto auto;
}

.q-field__inner.relative-position.col.self-stretch {
    background: white;
}

.q-item.q-router-link--active, .q-item--active {
    background: lighten($primary, 10%);
    color: white;
    .q-item__label--caption {
        color: white;
    }
}

.bg-accent {
    background-color: $accent;
}

.q-page {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.caption {
    font-size: 0.8rem;
    opacity: 0.8;
}

.caption a{
    text-decoration: none;
    color: $primary;
}

figure {
    margin: 0;
}

figcaption {
    margin-top: 0.5rem;
}