// app global css in SCSS form

.q-page {
    a, a:visited{
        text-decoration: none;
        color: $primary;
    }
    
    a:hover {
        color: $accent;
    }

    a.card {
        text-decoration: none;
        color: inherit;
    }

}

img {
    max-width: 100%;
}

.title {
    font-weight: 700;
}

.max-600 {
    max-width: 600px;
    margin: auto auto;
}

.max-900 {
    max-width: 900px;
    margin: auto auto;
}

.q-field__inner.relative-position.col.self-stretch {
    background: white;
}